* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background-color: #0b0b0b;
  color: #e5e7eb;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #ff004f;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 15px;
}

.nav-links a:hover {
  color: #ff004f;
}

.btn {
  padding: 8px 18px;
  border-radius: 20px;
  font-size: 14px;
}

.btn.primary {
  background: #ff004f;
  color: white;
}

.btn.outline {
  border: 1px solid #ff004f;
  color: #ff004f;
}

/* HERO */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px;
}

.hero-text h4 {
  color: #ff004f;
  margin-bottom: 10px;
}

.hero-text h1 {
  font-size: 52px;
  margin-bottom: 10px;
}

.hero-text h2 {
  font-size: 22px;
  color: #ff004f;
  margin-bottom: 20px;
}

.hero-text p {
  max-width: 450px;
  margin-bottom: 30px;
  font-size: 15px;
}

.buttons {
  display: flex;
  gap: 15px;
}

/* HERO IMAGE */
.hero-image img {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  border: 6px solid #ff004f;
  object-fit: cover;
}

/* SECTIONS */
.section {
  padding: 60px 80px;
}

.section h2 {
  font-size: 28px;
  margin-bottom: 30px;
}

/* PROJECT CARDS */
.card {
  background: #111;
  padding: 20px;
  margin-bottom: 20px;
  border-left: 4px solid #ff004f;
  border-radius: 8px;
}

.card span {
  color: #ff004f;
  font-size: 13px;
}

/* CONTACT */
.contact p {
  margin-bottom: 10px;
}
html {
  scroll-behavior: smooth;
}
